.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $border-color;
  border-radius: 5px;
  //TODO feedback: 应该多采用class选择器，而不是标签选择器（针对以下所有的标签选择器）
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    width: 300px;

    > h3 {
      color: $white;
    }

    > label {
      display: block;
      width: 100%;
    }

    > a {
      display: block;
      width: 100%;
      color: $primary-color;
    }

    > button {
      width: 100%;
      margin: 10px 0;
      &:first-of-type {
        @include btn($primary-color, $body-bg, $primary-color);
      }

      &:last-of-type {
        @include btn($white, $primary-color, $primary-color);
      }
    }
  }
}
